@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Lexend+Exa:wght@600&family=Quantico&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #00ff00; 
    margin: 0;
    overflow: hidden;
}
.panel {
    background-color: #000;
    width: 192px; 
    height: 256px; 
    margin: 0; 
    padding: 10px;
}
.encabezado {
    font-size: 5px;
    font-family: 'Lexend Exa', sans-serif;
    display: flex;
    justify-content: flex-start;
    color: #e8b44d; 
    /*margin-right: 18px;*/
}
.plazas-libres {
    padding-left: 15px;
}

img{
    height: 12px;
    margin-top: 3px;
}

.parking-spot {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.spot-label {
    font-family: 'Quantico', sans-serif;
    font-weight: bold;;
    color: white;
    font-size: 13px;
}

.spot-status {
    font-family: 'Quantico', sans-serif;
    font-size: 14px;
    color: #00ff00; /* Color predeterminado para números */
    margin-right: 40px;
}

.completo {
    color: red;
}

#aparcamientos{
    padding-left: 5px;
}
#avenida {
    margin-right: 10px;
}

#sembrador {
    margin-right: 26px;
}

#feria {
    margin-right: 75px;
}